[submodule "src/lib/cartographer_ros"]
	path = src/lib/cartographer_ros
	url = https://github.com/cartographer-project/cartographer_ros
[submodule "src/lib/cartographer"]
	path = src/lib/cartographer
	url = https://github.com/cartographer-project/cartographer
[submodule "src/lib/xbot_msgs"]
	path = src/lib/xbot_msgs
	url = https://github.com/ClemensElflein/xbot_msgs
[submodule "src/lib/xbot_positioning"]
	path = src/lib/xbot_positioning
	url = https://github.com/cedbossneo/xbot_positioning
	branch = slam
